body {
direction: rtl;
font-family: 'Assistant', sans-serif;
font-weight: bold;
line-height: 1.3;
text-align: justify;
font-size: 26px;
letter-spacing: 0.2px;
display: block;

}

div.image {
    width: 67.5%;
    max-width: 67.5%;
    min-width: 10%;
}


h1 {
    font-size: 50px;
    color: orange;
    text-decoration: underline;
    
    margin-top: 60px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 150px;

    
}

div.title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 35px;

    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 150px;

}


div.paragraph {
    font-weight: normal; 
    width: 1000px;
    
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 150px; 
}

div.galery {
width: 200px;
height: 200px;

margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 150px;

}





    